[Unit]
Description=Start BME280 logging
Requires=influxdb.service
After=influxdb.service

[Service]
Environment=PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PYTHONPATH=/home/pi/.local/lib/python3.7/site-packages
ExecStart=/bin/bash -c '/usr/bin/python3 /home/pi/maserjunk/masermon/masermon.py --host=labpi.rubidium.se --database gaston bme280 &'
#Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
